<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= cocktailDetails.name %></title>
  </head>
  <body>
    <h1><%= cocktailDetails.name %></h1>

    <ul>
      <% cocktailDetails.ingredients.forEach(function(ingredient) { %>
        <% if(ingredient.ingredient) {%>
        <li><%=ingredient.ingredient%></li>
        <%}%>
      <%})%>
    </ul>

    <p><%= cocktailDetails.preparation %></p>



  </body>
</html>
