<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chin Chin</title>

  </head>
  <body>
    <% cocktailList.forEach(function(cocktail) { %>
      <li>
        <a href="/cocktail/<%= cocktail %>"><%= cocktail %></a>
      </li>
    <% }); %>
  </body>
</html>
